@model AcademyPortal.ViewModel.SkillViewModel;
@{
    ViewData["Title"] = "Add and List Skill";
    var skills = ViewData["skills"] as IEnumerable<Skill>;
}
<div class="container-fluid">
    <div class="row justify-content-center ">
        <div class="col-md-4">
            <div class="alert alert-danger text-center text-dark mt-3 py-2" role="alert">
                Add new Skill to database
            </div> 
            <div class="mx-5">
                <form method="post" novalidate>
                    <div class="form-group pb-1">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <small><span asp-validation-for="Name" class="text-danger"></span></small>
                    </div>
                    <div class="form-group pb-1">
                        <label asp-for="Family"></label>
                        <input asp-for="Family" class="form-control" />
                        <small><span asp-validation-for="Family" class="text-danger"></span></small>
                    </div>
                    <div class="form-group ">
                        <input type="submit" value="Add Skill" class="btn btn-info mt-2" />
                        <a class="btn btn-color mt-2" asp-controller="Home" asp-action="Index">GoBack</a>
                    </div>
                </form>
            </div>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-@TempData["Type"] alert-dismissible fade show py-3 mb-0 mt-3" role="alert">
                    @TempData["Message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
        <div class="col-md-8 ">
            @if (skills.Any())
            {
                <div class="alert alert-danger text-center text-dark mt-3 py-2" role="alert">
                    Skills Present in Databse
                </div>
                <table class="table table-primary border-primary table-striped table-hover align-middle table-bordered">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th width=10% scope="col">Id</th>
                            <th width=20% scope="col">Name</th>
                            <th width=20% scope="col">Family</th>
                            <th width=20% scope="col">Created By</th>
                            <th width=30% scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in skills)
                        {
                            <tr class="text-center">
                                <td class="py-2" width=10%>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td class="py-2" width=20%>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td class="py-2" width=20%>@Html.DisplayFor(modelItem => item.Family)</td>
                                <td class="py-2" width=20%>@Html.DisplayFor(modelItem => item.CreatedBy.Email)</td>
                                <td class="py-2" width=30%>
                                    <a class="btn btn-danger" asp-route="deleteSkill" asp-route-id=@item.Id>Delete</a>
                                    <a class="btn btn-warning" asp-route="updateSkill" asp-route-id=@item.Id>Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger text-center text-dark mt-3 py-2" role="alert">
                    Currently there is no data available.
                </div>
            }

        </div>
    </div>
</div>