@model AcademyPortal.ViewModel.SkillViewModel;
@{
    ViewData["Title"] = "Update-Skill";
    var skillobj = ViewData["skillobj"] as Skill;
}
<div class="container-fluid">
    <div class="row justify-content-center ">
        <div class="col-md-4">
            <div class="alert alert-danger text-center text-dark mt-3 py-2" role="alert">
                Update Skill
            </div>
            <div class="mx-5">
                <form method="post" novalidate>
                    <div class="form-group pb-1">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <small><span asp-validation-for="Name" class="text-danger"></span></small>
                    </div>
                    <div class="form-group pb-1">
                        <label asp-for="Family"></label>
                        <input asp-for="Family" class="form-control" />
                        <small><span asp-validation-for="Family" class="text-danger"></span></small>
                    </div>
                    <div class="form-group ">
                        <input type="submit" value="Update" class="btn btn-success mt-2" />
                        <a class="btn btn-danger mt-2" asp-route="addskill">GoBack</a>
                    </div>
                </form>
            </div>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-@TempData["Type"] alert-dismissible fade show py-3 mb-0 mt-3" role="alert">
                    @TempData["Message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="alert alert-danger text-center text-dark mt-3 py-2" role="alert">
                Skill Details
            </div>
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Details of skill with Id(@skillobj.Id)</li>
                <li class="list-group-item"><b>Id: </b>@skillobj.Id</li>
                <li class="list-group-item"><b>Skill Name: </b>@skillobj.Name</li>
                <li class="list-group-item"><b>Skill Family: </b>@skillobj.Family</li>
                <li class="list-group-item"><b>Crated By: </b>@skillobj.CreatedBy</li>
            </ul>
        </div>
    </div>
</div>
</b>